---
layout: default
---
<main class="site--content site--content--submit">
  <div class="page--content page--content--generic">

    <h1>
      Water Reporter Help
    </h1>

    <p>
      Have a question? Check out our growing list of help topics below. If you still can't find an answer <a href="mailto:support@waterreporter.org">email our support team</a>. We're happy to help.

    <nav>

       <ul>
      {% assign pages = (site.pages | sort: 'order', 'last') %}
      {% for page_ in pages %}
        {% if page_.title and page_.navigation.level == 1 %}
          {% if page_.url == page.url %}
            <li>
              <a class="page-link active" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.navigation.title }}</a>

              <ul>
              {% for subpage_ in pages %}
                {% if subpage_.title and subpage_.navigation.level == 2 and subpage_.navigation.parent == page_.url %}
                  {% if subpage_.url == page.url %}
                    <li>
                      <a class="page-link active" href="{{ subpage_.url | prepend: site.baseurl }}">{{ subpage_.navigation.title }}</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="page-link inactive" href="{{ subpage_.url | prepend: site.baseurl }}">{{ subpage_.navigation.title }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a class="page-link inactive" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.navigation.title }}</a>
              <ul>
              {% for subpage_ in pages %}
                {% if subpage_.title and subpage_.navigation.level == 2 and subpage_.navigation.parent == page_.url %}
                  {% if subpage_.url == page.url %}
                    <li>
                      <a class="page-link active" href="{{ subpage_.url | prepend: site.baseurl }}">{{ subpage_.navigation.title }}</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="page-link inactive" href="{{ subpage_.url | prepend: site.baseurl }}">{{ subpage_.navigation.title }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </ul>
            </li>



          {% endif %}
        {% endif %}
      {% endfor %}
    
<li>
              <a class="page-link active" target="_blank" href="http://docs.waterreporter.org/">API Documentation</a>
              </li>
           
         
             <li>
              <a class="page-link active" target="_blank" href="http://help.waterreporter.org/media/WaterReporter--MediaKit.zip">Media Kit</a>
              </li>
    
    </ul>

         
           
    </nav>


    <p class="rss-subscribe text-center">
      <small><small>
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </small></small>
    </p>

  </div>
</main>
